<div class="docker tips">
		<div class="inner">
			<!---->
			<div class="tips-btn">
				<span title="喜欢"><i class="sbtn sb-totop"></i>置顶</span>
				<span title="收藏"><i class="sbtn sb-feed "></i>反馈</span>
				<span title="微博"><i class="sbtn sb-msg"></i>聊天</span>
				<span title="微信"><i class="sbtn sb-phone "></i>电话
					<div class="code">
						<img src="__IMG__qrcode.jpg" class="qrcode">
						<p>扫码关注微信公众号</p>
						<p>随时随地 灵感一下</p>
					</div>
				</span>
			</div>
		</div>
	</div>

	<!---->
	<div class="docker header2 ft2">
		<div class="inner">
			<p class="foot-doc">
				<a href="{:urm('blog',['aid'=>'f27c80b9cd63c452018a34611fd2bbb00b92413d'])}" class="foot-link">关于我们</a>
				<a href="" class="foot-link">广告服务</a>
				<a href="" class="foot-link">商户入驻</a>
				<a href="{:urm('blog',['aid'=>'65dc2a6b67f0b42bd9c7ab9dd6cf71902bf3fc76'])}" class="foot-link">免责申明</a>
			</p>
		</div>
	</div>
	<div class="docker footer">
		<div class="inner">
			
			<p  class="foot-info">
				<span>{:config('copy_right')}</span>
				
				<span>怪兽研习社</span>
			</p>
			
		</div>
	</div>
	
	