<div class="sign-cont">
			<div class="sign-box">
				<div class="sign-left">
					<a class="logo" href="http://mp.milfun.fun/" >
				      <img src="http://mp.milfun.fun/">
				      <div>
				        <p>找工作</p>
				        <p>我要跟老板谈</p>
				      </div>
				    </a>

				    <ul>
				      <li>
				        <i class="sb-hello"></i>
				        <span>沟通</span>
				        <span>在线职位及时沟通</span>
				      </li>
				      <li>
				        <i class="sb-damon"></i>
				        <span>任性选</span>
				        <span>各大行业职位任你选</span>
				      </li>
				    </ul>
				</div>
				<div class="sign-right">
					<div class="sign-inner pswd-load">
						<div class="sign-tab">
							<span class="tab" onclick="co.switchTab(0);">密码登陆</span>
							<span class="tab" onclick="co.switchTab(1);">短信登陆</span>
							<span class="tab" onclick="co.switchTab(2);">扫码登陆</span>
						</div>
						<!---->
						<form action="<:url('Access/login')>" method="post">
						<div class="sign-raw">
							<span class="ipt-wrap">
								<i class="sbtn sb-mobile"></i>
								<input class="ipt ipt-phone" type="tel" name="mobile" placeholder="手机号">
							</span>
						</div>
						<div class="sign-raw">
							<span class="ipt-wrap">
								<i class="sbtn sb-info"></i>
								<input class="ipt ipt-pwd" type="password" name="password" placeholder="密码">
							</span>
						</div>
						<button type="submit" class="btn2 loading ajax-login">登陆</button>
						</form>
						<!---->
						<!--<div class="sign-raw" >
							<div id="drag"></div>
						</div>-->
						
						
						<p class="sign-reg">
							<span>
								没有账号
								<a  href="" class="regnow">立即注册</a>
							</span>
						</p></div>
					<div class="sign-inner mobi-load">
						<div class="sign-tab">
							<span class="tab" onclick="co.switchTab(0);">密码登陆</span>
							<span class="tab" onclick="co.switchTab(1);">短信登陆</span>
							<span class="tab" onclick="co.switchTab(2);">扫码登陆</span>
						</div>
						<div class="sign-raw">
							<span class="ipt-wrap">
								<i class="sbtn sb-mobile"></i>
								<input class="ipt ipt-phone" type="tel" name="" placeholder="手机号">
								
							</span>
						</div>
						<div class="sign-raw">
							<span class="ipt-wrap">
								<i class="sbtn sb-info"></i>
								<input class="ipt ipt-phone" type="password" name="" placeholder="短信验证码">
								<span class="captcha">获取验证码</span>
							</span>
						</div>
						<div class="sign-raw" >
							<div id="drag"></div>
						</div>
						
						<p class="btn2 loading">登陆</p>
						<p class="sign-reg">
							<span>
								没有账号
								<a  href="" class="regnow">立即注册</a>
							</span>
						</p></div>
					<div class="sign-inner code-load">
						<div class="sign-tab">
							<span class="tab" onclick="co.switchTab(0);">密码登陆</span>
							<span class="tab" onclick="co.switchTab(1);">短信登陆</span>
							<span class="tab" onclick="co.switchTab(2);">扫码登陆</span>
						</div>
						<p class="sign-qrcode">
							<span>
								使用 BOSS直聘 APP 扫码登录
								<a  href="" class="regnow">扫码帮助</a>
							</span>
						</p>
						
							<img class="qr-loading" src="__IMG__qrcode.jpg">
						
						
						<p class="sign-qrcode">
							<span>
								没有账号
								<a  href="" class="regnow">立即注册</a>
							</span>
						</p>
				</div>
				
			</div>